ion-header {
    padding: 16px 20px;
    background: #fff;

    .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            font-size: 24px;
            font-family: 'Nunito-SemiBold';
            color: #0A395A;
            margin: 0 20px 0 0;
        }

        .search-btn {
            --color: #fff;
            --background: #0A395A;
            margin: 0;
            height: 34px;
            letter-spacing: 0;
            --box-shadow: none;
        }
    }
}

ion-content {
    height: calc(100% - 60px);
}

.page-container {
    padding: 24px;

    .custom-card {
        width: 100%;
        margin-bottom: 15px;
        border-radius: 10px;
        box-shadow: 0px 2px 12px #0a395a33;
        overflow: hidden;
        padding: 16px;
        display: flex;
        flex-direction: column;

        .card-title {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-bottom: 16px;

            ::ng-deep ion-searchbar {
                border-radius: 6px;
                --border-radius: 0;
                padding: 0;
                height: 34px;
                border: 1px solid #0A395A;
                --background: #fff;
                max-width: 220px;

                input {
                    padding-inline-start: 26px;
                    padding-inline-end: 22px;
                    font-size: 15px;
                    font-family: 'Nunito-SemiBold';
                }

                .searchbar-search-icon.sc-ion-searchbar-ios {
                    left: 5px;
                    width: 18px;
                }

                .searchbar-clear-button.sc-ion-searchbar-ios {
                    width: 24px;
                }
            }
        }

        .table-responsive {
            min-height: 200px;
            position: relative;
            width: 100%;

            p {
                position: absolute;
                bottom: 35px;
                left: 0;
                width: 100%;
                text-align: center;
            }

            table {
                thead {
                    th {
                        padding: 8px 16px;
                        font-size: 16px;
                        line-height: 20px;
                        font-family: 'Nunito-Bold';
                        border-top: none;
                        color: #0A395A;
                        white-space: nowrap;

                        &:first-child {
                            padding-left: 6px;
                        }

                        &:last-child {
                            padding-right: 06px;
                        }
                    }
                }

                tbody {
                    td {
                        padding: 6px 16px;
                        font-family: "Nunito-Regular";
                        font-size: 16px;
                        color: #454545;
                        line-height: 20px;

                        &:first-child {
                            padding-left: 6px;
                        }

                        &:last-child {
                            padding-right: 6px;
                        }
                    }
                }
            }
        }
    }
}


.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.card-title {
    margin: 0 !important;
}

::ng-deep table {
    width: 100%;
    margin: 0;

    thead {
        th {
            padding: 10px 16px !important;
            font-size: 16px !important;
            line-height: 20px;
            font-family: "Nunito-Bold";
            border-top: none;
            color: #0A395A !important;
            white-space: nowrap;
            text-align: center !important;

            &:first-child {
                padding-left: 6px !important;
            }

            &:last-child {
                padding-right: 6px !important;
            }
        }
    }

    tbody {
        td {
            padding: 8px 16px !important;
            font-family: "Nunito-Regular";
            font-size: 16px !important;
            color: #454545 !important;
            line-height: 20px;
            min-width: 130px;
            text-align: center;

            &:first-child {
                padding-left: 6px !important;
            }

            &:last-child {
                padding-right: 6px !important;
            }

            ion-button {
                margin: 0;

                ion-icon {
                    font-size: 30px;
                    color: #595959;
                }
            }
        }
    }
}

.btn-group {
    display: flex;
    align-items: center;
    justify-content: center;

    .clear-btn {
        height: 44px;
        width: 44px;
        margin-right: 8px;
        --padding-top: 6px;
        --padding-bottom: 6px;
        --padding-start: 6px;
        --padding-end: 6px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        &:last-child {
            margin: 0;
        }
    }
}

.selectBottomSheet {
    ion-header {
        padding: 10px 20px;

        ion-toolbar {
            --min-height: 32px;

            ion-title {
                font-size: 20px;
                font-family: "Nunito-Bold";
            }
        }
    }

    .table-bordered {
        td, th {
            padding: 8px !important;
            font-family: 'Nunito-SemiBold';
            font-size: 16px !important;
            color: #000 !important;
            line-height: 20px;
            text-align: left;
        }
    }
}