<ion-header>
  <div class="heading">
      <h4 class="title">Business Associates</h4>
      <ion-button mode="md" class="search-btn" (click)="addAssociates()">Add Associates</ion-button>
  </div>
</ion-header>

<ion-content>
  <div class="page-container">
    <div class="custom-card">
      <div class="card-title">
        <!-- <ion-button class="secondary-btn" (click)="addAssociates()">Add
        </ion-button> -->
        <ion-button class="secondary-btn ms-2" (click)="goToBlockAssociates()">View Block
        </ion-button>
      </div>
      <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>
      <div class="w-100 overflow-auto">
        <table mat-table [dataSource]="dataSourceAssociates" matSort>
          <ng-container matColumnDef="#">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
            <td mat-cell *matCellDef="let row; let i=index"> {{i+1}} </td>
          </ng-container>
          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> UI Code </th>
            <td mat-cell *matCellDef="let row">{{row?.code}}</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row?.firstName}} {{row?.lastName}}</td>
          </ng-container>
          <!-- <ng-container matColumnDef="CouponCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> UIC Code </th>
            <td mat-cell *matCellDef="let row" (click)="viewLinkUsers(row)">
              <ion-button class="clear-btn" fill="clear">
                <ion-icon  name="eye" style="font-size: 16px; margin: 0 4px 4px 0;"></ion-icon>
                {{row?.discount?.code}}
              </ion-button>
            </td>
          </ng-container> -->

          <ng-container matColumnDef="referenceUID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> UR Code </th>
            <td mat-cell *matCellDef="let row"> {{row?.referenceUID}}</td>
          </ng-container>

          <ng-container matColumnDef="creationdate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> D.O.C </th>
            <td mat-cell *matCellDef="let row"> {{row?.creationdate | date:'dd-MM-yyyy'}} </td>
          </ng-container>

          <ng-container matColumnDef="mobileNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Other Details </th>
            <td mat-cell *matCellDef="let row">
              <ion-button class="clear-btn" fill="clear" (click)="viewAssociates(row, 'USER')">
                <ion-icon  name="eye"></ion-icon>
              </ion-button>
            </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ref. Details </th>
            <td mat-cell *matCellDef="let row">
              <ion-button class="clear-btn" fill="clear" (click)="viewAssociates(row, 'REF')">
                <ion-icon  name="eye"></ion-icon>
              </ion-button>
            </td>
          </ng-container>

          <ng-container matColumnDef="postId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let row">
              <div class="btn-group">
                <ion-button class="clear-btn" fill="clear" (click)="editAssociates(row)">
                  <img src="/assets/images/Edit.png" class="Edit">
                </ion-button>

                <ion-button class="clear-btn" fill="clear" (click)="presentAlertBlockAssociates(row)">
                  <img src="/assets/images/Block.png" class="Block">
                </ion-button>

                <ion-button class="clear-btn" fill="clear" (click)="presentAlertActiveAssociates(row)">
                  <img src="/assets/images/Unblock.png" class="Unblock">
                </ion-button>
      
                <ion-button class="clear-btn" fill="clear" (click)="presentAlertDeleteAssociates(row)">
                  <img src="/assets/images/Delete.png" class="Delete">
                </ion-button>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsAssociates"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsAssociates;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input?.value}}"</td>
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 30,50,100]" aria-label="Select page of userAssocates"
          #MatPaginatorAssociate></mat-paginator>
      </div>
    </div>
  </div>
</ion-content>


<ion-modal #modal class="selectBottomSheet linkModal" [isOpen]="isLinkedUserModal" [initialBreakpoint]="0.6"
  [breakpoints]="[0, 0.3, 0.5, 0.75]" backdrop-dismiss="false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Coupon Linked Users({{copunLinkedUsers?.length}}) </ion-title>
        <ion-title>UIC Linked Users({{copunLinkedUsers?.length}}) </ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modalDismiss()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="th-sm">Name</th>
              <th class="th-sm">Board</th>
              <th class="th-sm">Class</th>
            </tr>
          </thead>
          <tbody *ngIf="copunLinkedUsers?.length">
            <tr *ngFor="let user of copunLinkedUsers">
              <td>{{user?.firstName}} {{user?.lastName}}</td>
              <td>{{user?.boardName}}</td>
              <td>{{user?.className}}</td>
            </tr>
          </tbody>
          <tbody class="sdsf" *ngIf="!copunLinkedUsers?.length">
            <tr>
              <p>No data available!</p>
            </tr>
          </tbody>
        </table>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal #blockAssociatesModal class="selectBottomSheet blockModal" [isOpen]="isBlockAssociatesOpen" [initialBreakpoint]="0.6"
  [breakpoints]="[0.5, 1.00]" backdrop-dismiss="false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Block</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="blockModalDismiss()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="w-100 overflow-auto">
        <table mat-table [dataSource]="dataSourceBlockAssociates" matSort>
          <ng-container matColumnDef="#">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
            <td mat-cell *matCellDef="let row; let i=index"> {{i+1}} </td>
          </ng-container>
          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> App ID </th>
            <td mat-cell *matCellDef="let row" (click)="presentAlertActiveAssociates(row, blockType)">
              <ion-button class="clear-btn" fill="clear">
                <ion-icon name="checkmark-done-outline" style="font-size: 12px; margin-right: 4px;"></ion-icon>
                {{row?.code}}</ion-button>
            </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row?.firstName}} {{row?.lastName}}</td>
          </ng-container>
          <ng-container matColumnDef="creationdate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </th>
            <td mat-cell *matCellDef="let row"> {{row?.creationdate}} </td>
          </ng-container>
          <ng-container matColumnDef="mobileNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile Number </th>
            <td mat-cell *matCellDef="let row">{{row?.mobileNo}} </td>
          </ng-container>
          <ng-container matColumnDef="profileType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let row"> {{row?.profileType}} </td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let row"> {{row?.email}}</td>
          </ng-container>
          <ng-container matColumnDef="CouponCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> CouponCode </th>
            <td mat-cell *matCellDef="let row"> {{row?.discount?.code}}
              <ion-icon name="eye" (click)="viewLinkUsers(row)"></ion-icon>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="blockColumnsAssociates"></tr>
          <tr mat-row *matRowDef="let row; columns: blockColumnsAssociates;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input?.value}}"</td>
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 30,50,100]" aria-label="Select page of userBlockAssocates"
          #MatPaginatorAssociate></mat-paginator>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal #viewAssociatesModal class="selectBottomSheet viewAssociate" [isOpen]="isViewAssociatesOpen" [initialBreakpoint]="0.6"
  [breakpoints]="[0.5, 1.00]" backdrop-dismiss="false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{associateType == 'USER' ? 'Other Details' : 'Reference Person Details'}}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="viewModalDismiss()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="w-100 overflow-auto">
        <table class="table-bordered" *ngIf="associateType == 'USER'">
          <tbody>
            <tr>
              <td>Title</td>
              <td>{{viewDetail.code}}</td>
            </tr>
            <tr>
              <td>Name</td>
              <td>{{viewDetail.firstName}} {{viewDetail.lastName}}</td>
            </tr>
            <tr>
              <td>Gender</td>
              <td>{{viewDetail.gender}}</td>
            </tr>
            <tr>
              <td>Mobile No</td>
              <td>{{viewDetail.mobileNo}}</td>
            </tr>
            <tr>
              <td>Email ID</td>
              <td>{{viewDetail.email}}</td>
            </tr>
            <tr>
              <td>Aadhar No</td>
              <td>{{viewDetail.aadharNo}}</td>
            </tr>
            <tr>
              <td>Pan No</td>
              <td>{{viewDetail.panNo}}</td>
            </tr>
            <tr>
              <td>Address</td>
              <td>{{viewDetail.address}}</td>
            </tr>
            <tr>
              <td>State</td>
              <td>{{viewDetail.stateName}}</td>
            </tr>
            <tr>
              <td>District</td>
              <td>{{viewDetail.districtName}}</td>
            </tr>
            <tr>
              <td>City</td>
              <td>{{viewDetail.cityName}}</td>
            </tr>

          </tbody>
        </table>
        <table class="table-bordered" *ngIf="associateType == 'REF'">
          <tbody>
            <tr>
              <td>Name</td>
              <td>{{viewDetail.referenceName}}</td>
            </tr>
            <tr>
              <td>Code</td>
              <td>{{viewDetail.referenceUID}}</td>
            </tr>
            <tr>
              <td>Title</td>
              <td>{{viewDetail.referencePostId}}</td>
            </tr>
            <tr>
              <td>Mobile No</td>
              <td>{{viewDetail.referenceMobile}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>