<div class="custom-card">
<div class="mb-4">
  <ion-textarea type="text" name="question" id="question" placeholder="Enter Question" rows="3"></ion-textarea>
  <div class="input-container">
    <ion-input type="text" name="hint" id="hint" placeholder="Hint (optional)"></ion-input>
    <ion-input class="file-input" type="file" name="file" id="file" multiple="true"></ion-input>
  </div>
</div>

<div class="footer-toolbar">
  <ion-button mode="md" fill="outline" class="cancel-btn">Cancel</ion-button>
  <ion-button mode="md" class="okay-btn">Save</ion-button>
</div>
</div>