<ion-header mode="md">
  <ion-toolbar mode="md">
    <ion-title>
      Edit Class
    </ion-title>
    <ion-buttons slot="end">
      <ion-button mode="md" (click)="close()" class="btn-blue modal-close">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="content modal-inner">
    <form name="personalInfoForm">

      <ion-row>
        <!-- <ion-col size="12">
          <div class="avatar-img">
            <ion-avatar class="w-100 h-100 emp-avatar">
              <ion-img class="w-100 h-100" [src]="selectedClass.imageURL">
              </ion-img>
            </ion-avatar>
            <div class="select-icon">
              <input type="file" (change)="imageSelected($event)" accept=".png,.jpg" />
            </div>
          </div>
        </ion-col>  -->

        <ion-col size="12">
          <div class="custom-input">
            <ion-label>Class Name<span>*</span></ion-label>
            <ion-input [(ngModel)]="selectedClass.displayName" id="name" name="name"
              type="text" pattern="[A-Za-z0-9]+" autofocus inputmode="text" required
              placeholder="Enter Class Name">
            </ion-input>
          </div>
        </ion-col>

        <!-- <ion-col size="12">
          <div class="custom-input">
            <ion-label>Color Code<span>*</span></ion-label>
            <ion-input [(ngModel)]="selectedClass.colorCode" id="colorCode" name="colorCode" type="text" pattern="[A-Za-z0-9]+"
              autofocus inputmode="text" required placeholder="Enter Color Code">
            </ion-input>
          </div>
        </ion-col> -->

        <ion-col size="12" *ngIf="boardEducations?.length > 0">
          <div class="custom-input">
            <ion-label>Select Board<span>*</span></ion-label>
            <ion-select mode="md" [(ngModel)]="selectedClass.boardName" id="role" name="category" #category="ngModel"
              placeholder="Select Board Name" (ionChange)="boardChanged($event)" required>
              <ion-select-option *ngFor="let bn of boardEducations" [value]="bn.name">
                {{bn.displayName}}</ion-select-option>
            </ion-select>
          </div>
        </ion-col>
      </ion-row>
     

    </form>
  </div>
</ion-content>
<ion-footer>
  <div class="footer-toolbar"> 
    <ion-button mode="md" fill="outline" class="cancel-btn" (click)="close()">Cancel</ion-button> 
    <ion-button mode="md" class="okay-btn" (click)="updateClass()">Update</ion-button>
  </div>
</ion-footer> 