<ion-header>
  <div class="heading">
    <div class="heading-left">
      <h4 class="title">Cancel Subscription</h4>
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="page-container">
    <div class="customSegment">
      <ion-segment mode="md" (ionChange)="subscriptionTabChanged($event)" [value]="segmentValue">
        <ion-segment-button mode="md" value="ACTIVE">
          <ion-label>Active</ion-label>
        </ion-segment-button>
        <ion-segment-button mode="md" value="PENDING">
          <ion-label>Pending</ion-label>
        </ion-segment-button>
        <ion-segment-button mode="md" value="APPROVE">
          <ion-label>Approve</ion-label>
        </ion-segment-button>
        <ion-segment-button mode="md" value="REJECT">
          <ion-label>Reject</ion-label>
        </ion-segment-button>
        
      </ion-segment>
    </div>

    <ion-list class="card-list">
      <ion-item *ngFor="let sub of subsList">
        <div class="sub-card">
          <div class="card-body">
            <h4 class="card-heading">{{sub.userDetail?.name}}</h4>
            <div class="d-flex justify-content-between">
              <div class="event-info">
                <span class="me-1">Mobile No : </span>
                <ion-label class="card-label">{{sub.userDetail?.mobileNo}}</ion-label>
              </div>
              <ion-chip>{{sub.status}}</ion-chip>
            </div>
            <div class="event-info">
              <span class="me-1">Email Id : </span>
              <ion-label class="card-label"><b>{{sub.userEmail}}</b></ion-label>
            </div>
            <div class="event-info">
              <span class="me-1">Create Date : </span>
              <ion-label class="card-label">{{sub.createDate | date:'dd-MM-yyyy'}}</ion-label>
            </div>
            <div class="custom-col">
              <div class="event-info">
                <span class="me-1">Reason : </span>
                <ion-label class="card-label">{{sub.reason}}</ion-label>
              </div>
              <div class="event-info m-0">
                <span class="me-1">Message : </span>
                <ion-label class="card-label"><b>{{sub.message}}</b></ion-label>
              </div>
            </div>
          </div>
          <div class="card-footer" >
            <div class="icon-container">
              <div class="footer-icon" *ngIf="sub.status == 'ACTIVE'">
                <ion-icon name="link-outline" (click)="presentAlertForUpdateStatus(sub)"></ion-icon>
              </div>

              <div class="footer-icon" *ngIf="sub.status == 'PENDING'">
                <ion-icon name="link-outline" (click)="presentAlertForStatusPending(sub)"></ion-icon>
              </div>

              <div class="footer-icon" *ngIf="sub.status == 'REJECT'">
                <ion-icon name="trash" (click)="presentAlertForDelete(sub)"></ion-icon>
              </div>

            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>

  </div>
</ion-content>