<ion-header>

  <div class="heading-left">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Interests</ion-title>
  </div>
</ion-header>
<ion-content>
  <div class="page-container">
    <div class="customSegment">
      <div class="d-flex justify-content-end">
        <ion-button mode="md" fill="outline" class="add-btn" (click)="searchRecords()">Search
        </ion-button>
      </div>
      <div class="d-flex justify-content-end">
        <ion-button mode="md" fill="outline" class="add-btn" (click)="uploadData()">Upload
        </ion-button>
      </div>
      <div class="d-flex justify-content-end">
        <ion-button mode="md" fill="outline" class="add-btn" (click)="confirmBulkUpload()">Confirm Upload</ion-button>
      </div>
    </div>

    <div>
      <table class="table">
        <thead>
          <tr>
            <th class="th-sm">Name</th>
            <th class="th-sm">Action</th>
          </tr>
        </thead>
        <tbody *ngIf="interests?.length">
          <tr *ngFor="let interest of interests">
            <td>{{interest?.displayName}}</td>
            <td class="btn-holder">
              <ion-icon class="delete-icon" name="trash" (click)="deleteInterests(interest)"></ion-icon>
            </td>
          </tr>
        </tbody>
        <tbody class="sdsf" *ngIf="!interests?.length">
          <tr>
            <p>No States available!</p>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ion-content>