<ion-header mode="md">
  <ion-toolbar mode="md">
    <ion-title>
      Add New Class
    </ion-title>
    <ion-buttons slot="end">
      <ion-button mode="md" (click)="close()" class="btn-blue modal-close">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="content modal-inner">
    <form name="personalInfoForm">

      <ion-row>

        <ion-col size="12">
          <div class="custom-input">
            <ion-label>Class Name<span>*</span></ion-label>
            <ion-input [(ngModel)]="newClass.displayName" id="name" name="name" type="text" pattern="[A-Za-z0-9]+"
              autofocus inputmode="text" required placeholder="Enter Class Name">
            </ion-input>
          </div>
        </ion-col>

        <ion-col size="12" *ngIf="boardEducations?.length > 0">
          <div class="custom-input">
            <ion-label>Select Board<span>*</span></ion-label>
            <ion-select mode="md" [(ngModel)]="newClass.boardName" id="role" name="category" #category="ngModel"
              placeholder="Select Board Name" (ionChange)="boardChanged($event)" required>
              <ion-select-option *ngFor="let bn of boardEducations" [value]="bn.name">
                {{bn.displayName}}</ion-select-option>
            </ion-select>
          </div>
        </ion-col>
      </ion-row>


    </form>
  </div>
</ion-content>
<ion-footer>
  <div class="footer-toolbar">
    <ion-button mode="md" fill="outline" class="cancel-btn" (click)="close()">Cancel</ion-button>
    <ion-button mode="md" class="okay-btn" (click)="addClass()">Save</ion-button>
  </div>
</ion-footer>